In [7]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
deldf = pd.read_csv('/Users/tejachava/Cric_analysis/cric_stats/deliveries.csv')
matdf = pd.read_csv('/Users/tejachava/Cric_analysis/cric_stats/matches.csv')

In [8]:
deldf["batting_team"].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [9]:
kkrdf = deldf[deldf['batting_team'] ==  'Kolkata Knight Riders']

In [10]:
df = kkrdf[kkrdf['batsman'] == 'AD Russell']

In [11]:
rusdf = df[df['match_id'] == 532 ]

In [12]:
def phase(over):
    # over number in our dataset starts from 0
    if over <= 5:
        return 'Powerplay'
    elif over <= 14:
        return 'Middle'
    else:
        return 'Death'

In [13]:
rusdf['phase'] = rusdf['over'].apply(lambda x: phase(x))

In [15]:
rusdf.head()

        match_id  inning           batting_team     bowling_team  over  ball     batsman non_striker          bowler  is_super_over  wide_runs  bye_runs  legbye_runs  noball_runs  penalty_runs  batsman_runs  extra_runs  total_runs player_dismissed dismissal_kind fielder   phase
126317  532       2       Kolkata Knight Riders  Kings XI Punjab  8     6     AD Russell  YK Pathan   Sandeep Sharma  0              0          0         0            0            0             0             0           0           NaN              NaN            NaN     Middle
126322  532       2       Kolkata Knight Riders  Kings XI Punjab  9     5     AD Russell  YK Pathan   AR Patel        0              0          0         0            0            0             2             0           2           NaN              NaN            NaN     Middle
126323  532       2       Kolkata Knight Riders  Kings XI Punjab  9     6     AD Russell  YK Pathan   AR Patel        0              0          0         0            0            0             0             0           0           NaN              NaN            NaN     Middle
126326  532       2       Kolkata Knight Riders  Kings XI Punjab  10    3     AD Russell  YK Pathan   NLTC Perera     0              0          0         0            0            0             4             0           4           NaN              NaN            NaN     Middle
126327  532       2       Kolkata Knight Riders  Kings XI Punjab  10    4     AD Russell  YK Pathan   NLTC Perera     0              0          0         0            0            0             0             0           0           NaN              NaN            NaN     Middle

In [16]:
rusdf = rusdf.filter(['over', 'ball', 'phase', 'batsman', 'batsman_runs'])

In [17]:
rusdf.head()

        over  ball   phase     batsman  batsman_runs
126317  8     6     Middle  AD Russell  0
126322  9     5     Middle  AD Russell  2
126323  9     6     Middle  AD Russell  0
126326  10    3     Middle  AD Russell  4
126327  10    4     Middle  AD Russell  0